body{
    margin: 0;
    background-color: rgb(206, 205, 205);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 50px;
}

nav{
    background-color: rgb(245, 243, 247);
    display: flex;
    height: 7vh;
    font-weight: bold;
}

.nav-left img{
    width: 50px;
}

nav .nav-left{  
    flex: 50%;
    padding-left: 100px;
    display: flex;
    align-items: center;
}

nav .nav-left li{
    display: inline;
}

nav .nav-left ul li a{
    text-decoration: none;
    color: black;
    padding: 12px;
}

nav .nav-right{
    
    display: flex;
    flex: 50%;
    justify-content: flex-end;
    align-items: center;
    padding-right: 100px ;
}

nav .nav-right a{
    background-color: orangered;
    color: white;
    padding: 8px 20px;
    border-radius: 10px;
    text-decoration: none;
}


.blog-detail{
    justify-content: center;
}

section h1{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 120px;
    margin-bottom: 15px;
    text-align: center;
}

section .card{
    width: 100%;
    display: flex;
}

section .card img{
    /* margin-left: 30px; */
    width: 60%;
}

section .author{
    margin-left: 30px;
    width: 40%;
}

section .duration{
    margin-left: 30px;

}

section .tech{
    margin-left: 30px;
}

section .explain p{
    margin: 300px;
}